@text: #333;
@text-hover: #666;
@white: #fff;
@orange: #f15a24;
@light-orange: #ff8c2a;
@black: #000;
@light-bg: #f8f8f8;
@light-border: #E0E0E0;


.text-dark {
    color: @black;
}

.text-warning {
    color: @orange;
}



a {
    color: @white;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
