@media only screen and (max-width: 767px) {

    #contact {
        overflow: auto;

        .contact-wrapper {
            display: block;

            .contact-numbers {
                padding-bottom: 1em;
            }

        }

        .contact-form {
            margin-top: 2em;

            .wpcf7-submit {
                position: relative;
                margin: auto;


            }
        }
    }
}

@media only screen and (min-width: 768px) {

    #contact {
        overflow: auto;

        .contact-wrapper {
            display: grid !important;
            grid-template-columns: 1fr 1fr;
            column-gap: 5%;
            .text-l;

            .contact-info {
                .contact-numbers {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }
            }

        }

    }
}



/****** 

CONTACT

****/

/* following snippet will make our css stable on mozilla and safari */

input.ios-nochange {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input,
textarea {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

span.wpcf7-list-item {
    margin: 0;
    padding-bottom: 1em;
}

#contact {
    overflow: auto;

    a {
        color: @text;
        font-weight: bold;

        &:hover {
            color: @orange;
        }
    }

    /*show check box*/
    input[type="checkbox"] {
        -webkit-appearance: checkbox;
        width: 13px !important;
        height: 13px !important;
        border: 1px solid #eee;
    }

    .contact-wrapper {
        .w-1200;
        .text-l;

        .contact-info {
            .contact-numbers {
                display: grid;
                grid-template-columns: 1fr 1fr;

                p:last-child {
                    text-align: right;
                }

                p {
                    margin-top: 0;
                }
            }
        }

        .contact-form {
            input:not([type=checkbox]) {
                height: 35px;
                border-radius: 3px;
                width: 100%;
                border: 1px solid @light-border  !important;
            }

            textarea {
                border-radius: 3px;
                border: 1px solid @light-border  !important;
                width: 100%;
            }

            .wpcf7-submit {
                .btn-orange !important;
                .button;
                width: 200px !important;

            }
        }
    }
}
