@media only screen and (max-width: 767px) {
    .how-wrapper {
        display: block;
        position: relative;
        height: auto;
        width: 90%;
        .m-auto;

        .graph {
            height: 300px;
            width: 100%;
            margin-top: 2em;
        }

        .lite-gif {
            .m-auto;
            margin-top: 2em;
        }
    }
}

@media only screen and (min-width: 768px) {
    .how-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "gif graph";
        max-width: 900px;
        width: 90%;
        .m-auto;

        .lite-gif {
            grid-area: gif;
        }

        .graph {
            grid-area: graph;
        }
    }
}

.lite-gif {
    background-image: url(../assets/img/floori-lite-2.gif);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 90%;
    max-width: 300px;
    height: 500px;
    max-height: 700px;
}

.graph {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
