#technology .box {
  margin: auto !important;
}
#technology .floori-wrapper,
#technology .ipad-wrapper,
#technology .structure-wrapper {
  padding: 0 0 2em 0;
}
#technology h3 {
  margin: 0 !important;
  padding: 1em 0 0 0;
}
.plus {
  width: 100% !important;
  margin: auto !important;
  display: block !important;
  top: 0 !important;
}
.divider2 {
  display: none !important;
}
/*# sourceMappingURL=floori-pro.css.map */