/****HEADER*****/

.header-floori-pro {

    grid-template-columns: 300px 1fr 10fr !important;

    grid-gap: 1em;

    .video {
        overflow: hidden;
        z-index: 20;
    }
}

@media only screen and (max-width: 767px) {
    .header-floori-pro {
        .video {
            position: relative;
            padding-top: 30px;
            height: 40vw;
            overflow: hidden;
            width: 80%;
            margin: 5em auto 0 auto;
        }

        .video iframe,
        .video object,
        .video embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .title {
            position: relative;
            width: 80%;
            margin: auto;
            padding-bottom: 2em;
            /* top: 5em; */
            /* height: 400px; */
        }
    }

    #how-it-works {
        .graph {
            height: 400px;
        }
    }

    .technology-wrapper {
        display: block;

        ul {
            width: 50vw;
            .m-auto;
            padding-top: 1em;
        }

    }
}

@media only screen and (min-width: 768px) {
    .technology-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .header-floori-pro {
        grid-template-areas: "text . video" !important;

        .video {

            position: relative;
            padding-bottom: 56.25%;
            padding-top: 30px;
            height: 0;
            overflow: hidden;
            grid-area: video;
        }

        .video iframe,
        .video object,
        .video embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .header {
        .video {
            top: 2em;
        }
    }

}

@media only screen and (min-width: 1200px) {

    .header-floori-pro {
        grid-template-areas: "text . video" !important;

        .video {
            position: absolute;
            /* padding-bottom: 56.25%; */
            /* padding-top: 30px; */
            right: 0;
            width: 90%;
            height: 100%;
            overflow: hidden;
            z-index: 20;
            grid-area: video;
        }

        .video iframe,
        object,
        embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

/********

HOW IT WORKS?

****/

#how-it-works {
    padding: 2em 0;
    display: block;
    overflow: auto;
    width: 100%;
    background-color: #fff;

    //    border-top: 2px solid @light-border;
    //    border-bottom: 2px solid @light-border;
    .text-under-movie {
        max-width: 560px;
        margin: 0 auto;
        text-align: left;
    }

    p {
        width: 70%;
        text-align: center;

    }

    .how-wrapper {
        min-height: 400px;
        margin: 2em auto;
    }


}

/****** 

PREVIEW IN SECONDS

****/

#preview-in-seconds {
    padding: 2em 0 2em 0;
    display: block;
    overflow: auto;
    color: @text;
    width: 100%;

    p {
        width: 70%;
        text-align: center;
        font-weight: 600;

        &:first-child {
            width: 50%;
        }
    }

    .video {
        position: relative;
        max-width: 560px;
        width: 90%;
        display: block;
        margin: 2em auto 6em auto;

        &:before {
            content: "";
            padding-top: 56%;
            display: block;
            margin: auto;
        }

        iframe {
            position: absolute;
            width: 100%;
            top: 0;
            right: 0;
            left: 0;
            height: 100%;
            border: 4px solid #ffffff;
        }
    }

    .howto-icons {
        margin: 0 auto 1em auto;
        width: 80%;
        overflow: auto;
        text-align: center;

        .icon-wrapper {
            h3 {
                text-align: center;
                color: @text;
            }

            img {
                border-radius: 100px;
                box-shadow: 0px 3px 10px rgba(85, 85, 85, 0.14);
            }

            p {
                text-align: center;
                margin: auto;
                color: @text;
            }

        }
    }

}



/****** 

TECHNOLOGY

****/

#technology {
    background-color: @light-bg;

    a {
        color: @text;
        cursor: pointer;
    }

    a:hover {
        p {
            opacity: 0.7;
        }
    }

    .technology-wrapper {
        max-width: 600px;
        width: 90%;
        .m-auto;

        .ipad {
            display: block;
            height: 250px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        li {
            display: grid;
            grid-template-columns: 1.5em 1fr;
            grid-gap: 10%;
            text-align: left;

            i {
                background-image: url(.././assets/img/chevron.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }

    }

    h3 {
        margin: 0 !important;
        padding: 1em 0 0 0;
    }

    height: auto;
    overflow: auto;
    padding: 1em 0;

    a:hover {
        opacity: 0.7;
    }





}
