/****** 

FOOTER

****/

@media only screen and (max-width: 420px) {}

@media only screen and (max-width: 767px) {

    .footer {
        height: 200px;

        .copyright {
            width: 100% !important;
            text-align: center !important;
            display: block !important;

        }

        .footer-menu {
            width: 100% !important;
            text-align: center !important;
            display: block !important;
        }
    }
}

#footer {
    padding: 1em 0;
    background-color: @light-bg;
    border-top: 1px solid @light-border;
    color: @text;

    a {
        color: @text;

    }

    .copyright {
        text-align: center;
        position: relative;
        display: block;
        margin: auto;
    }


    .menu-footer {
        height: auto;
        max-width: 1200px;
        width: 90%;
        margin: auto;
        text-align: center;
        display: block;
        padding: 0 0 0.3em 0;


        ul {
            margin: 0;
            height: inherit;
            padding: 0;

            li {
                text-decoration: none;
                padding: 0 0.5em;
                display: inline-block;
            }
        }
    }
}

.error404 footer {
    position: absolute;
    margin-bottom: 0;
    bottom: 0;
    width: 100%;
}
