 /**HEADER ****/

 .brand img {
     position: fixed;
     display: block;
     z-index: 10;
     margin-left: 15px;
     margin-top: 10px;
     height: 30px;
     z-index: 102;
 }


 .header {
     margin: 0;
     padding: 0;
     position: relative;
     display: block;
     top: 0;
     width: 100%;
     overflow: visible;

     .header-wrapper {
         width: 90%;
         max-width: 1200px;
         .m-a-auto;
         position: absolute;
         grid-template-areas: "text ipad";


         .title {
             position: absolute;
             display: block;
             color: #ffffff;
             z-index: 3;
             grid-area: text;

             p {
                 margin: 0 0 1em 0;
                 font-size: 1.2em;
                 line-height: 1.2em;

             }

             .header-buttons {
                 p {}

                 & > a {
                     border: 2px solid @white;
                     width: 200px !important;
                     color: @white;
                     .text-c;
                     margin-top: 10px;

                     &:hover {

                         color: @white;
                         box-shadow: 0px 0px 15px rgba(255, 255, 255, .8);
                         font-weight: 700 !important;
                     }
                 }
             }

             h2 {
                 line-height: 1.3em;
             }
         }

         .ipad-gif {
             background-image: url(../assets/img/gif-floori.gif);
             display: block;
             position: absolute;
             z-index: 90;
             background-size: cover;
             background-repeat: no-repeat;
             border-radius: 6%;
             grid-area: ipad;

             &:before {
                 content: "";
                 padding-top: 69.5%;
                 display: block;
             }
         }


     }

     .header-wrapper.floori-lite {

         .header-gif {
             background-image: url(../assets/img/lite-gif.gif);
             display: block;
             z-index: 90;
             background-size: cover;
             background-repeat: no-repeat;
             background-position: bottom;
             border: 3px solid #fff;
         }
     }


     .header-bg {
         background-image: url(../assets/img/bg-anim.svg);
         background-position: 55% 100%;
         background-repeat: no-repeat;
         height: 100%;
         z-index: 1;
         animation-name: bg-position;
         animation-iteration-count: infinite;
         animation-duration: 7s;
     }
 }

 .header-pricing,
 .header-blog {
     margin: 0;
     padding: 0;
     position: absolute;
     top: 0px;
     display: block;
     z-index: 0;
     width: 100%;
     overflow: visible;
 }

 @keyframes bg-position {
     0% {
         transform: translateY(-10px);
     }

     50% {
         transform: translateY(0px);
     }

     100% {
         transform: translateY(-10px);
     }
 }

 .main-navigation {
     background-color: white;
     height: 50px;
     position: fixed;
     width: 100vw;
     z-index: 100;
     top: 0;
 }

 .topnav {
     top: 0;
     overflow: visible;
     height: 50px;
     will-change: auto;
     z-index: 1002 !important;
     position: absolute;
     right: 0 !important;
 }

 .topnav li {
     list-style-type: none;
 }

 .topnav {

     a {
         color: #333;
         text-align: right;
         text-decoration: none;
         /*!important*/
         font-size: 16px;


         &:hover {
             font-weight: bold;
             color: @text-hover;
         }
     }

     .active {
         color: white;
         text-decoration: underline;
     }

     .toggle {
         display: none;
     }

 }


 @media only screen and (max-width: 767px) {
     .header {
         display: table;
         overflow: auto;
         background-image: linear-gradient(to bottom, #f68930, #fbb03b);
         height: 500px;

         .header-wrapper {
             display: table-row;
             position: relative;
             height: 100%;
             overflow: auto;


             .ipad-gif,
             .header-gif {
                 position: relative;
                 margin-top: 5em;
                 width: 80%;
             }

             .title {
                 position: relative;
                 width: 80%;
                 .m-auto;
                 padding-bottom: 2em;

                 .button {
                     .m-auto;

                     p {}
                 }
             }

         }

         .header-bg {
             display: none;
         }
     }

     .floori-lite .header-gif {
         height: 60vw;
     }

     .header-wrapper {
         display: block;

         .ipad-gif,
         .header-gif {
             .m-a-auto;
         }
     }


     .main-nav {
         display: none;
     }
 }

 @media only screen and (min-width: 768px) {

     .header,
     .header-blog,
     .header-pricing {
         height: 500px;
     }

     .header {
         .header-bg {
             background-size: 600%;
         }

         .floori-lite {
             .header-gif {
                 grid-area: ipad;
                 width: 100%;
                 max-width: 500px;
                 position: absolute;
                 height: 100%;
                 right: 0;
             }
         }
     }

     .header-wrapper {
         height: 80%;
         bottom: 0;
         display: grid;
         grid-template-columns: 300px 1fr;
         grid-gap: 3em;

         .title {
             max-width: 300px;
         }

         .ipad-gif {
             width: 100%;
             max-width: 600px;
             justify-self: end;
             right: 0;
         }
     }


 }


 @media screen and (max-width: 1024px) {
     a.toggle {
         float: right;
         display: block;
     }

     .btn-login a {
         border-radius: 5px;
         font-weight: bold;

     }

     .main-navigation {
         .w-1200 {
             width: 100vw !important;
         }
     }

     #mobile-nav-toggle {
         z-index: 2000;
         position: absolute;
         margin: auto;
         text-decoration: none;
         top: 15px;
         right: 15px;
         height: 30px;
         width: 30px;
         cursor: pointer;

     }

     .toggle {
         width: 20px;
         height: 30px;



         div {
             width: 100%;
             height: 3px;
             background: @text;
             margin: 4px auto;
             transition: all 0.3s;
             backface-visibility: hidden;
         }

         a {
             color: @text;
         }
     }

     .toggle.on {
         .one {
             transform: rotate(45deg) translate(3px, 4px);
         }

         .two {
             opacity: 0;
         }

         .three {
             transform: rotate(-45deg) translate(6px, -7px);
         }
     }

     .topnav {
         ul {
             padding: 0 !important;
             margin: 0 !important;
         }

         li {
             display: none;
         }

         position: absolute;
         z-index: 100;
         width: 100%;
         top: 50px;

         a {
             float: none;
             color: @text;
             text-align: center !important;
             display: block;
             padding: 10px 0;
             position: relative;
             z-index: 100 !important;
             background-color: rgba(255, 255, 255, 0.95);
             text-align: left;
             width: 100%;

             &:focus {
                 background-color: #505a64 !important;
                 color: #ffffff !important;
                 text-decoration: none;
                 font-weight: bold;
             }

         }

         a li:hover {
             background-color: #ffffff;
             text-decoration: none;
         }
     }

     .mobile-nav-toggle a {
         margin: 0;
     }

 }

 @media screen and (min-width: 1025px) {


     .topnav {

         .menu {
             display: flex;
             margin: 0;
             height: 50px;
         }

         li {
             display: inline-block !important;
             padding: 12px 10px;

             a {
                 height: 50px;
             }

             &:last-child a {
                 border: 2px solid @orange;
                 border-radius: 3px;
                 padding: 0px 15px;
             }

             &:last-child {
                 padding: 12px 12px;
                 font-weight: bold;

             }

             p {
                 padding: 0.5em 3em;
                 margin-bottom: 0;
             }
         }

     }

 }
