@media only screen and (max-width: 420px) {

    p {
        width: 100%;
        display: block;
        margin: auto;
        padding: 0;
    }

    #features {
        h3 {
            max-width: 300px;
            margin: auto;
            display: block;
            padding: 10px 0;
        }

        .feat-container {
            padding-top: 1em;
        }

        .feat-box {
            margin-top: 0;
            padding-bottom: 2em !important;

            p {
                max-width: 80%;
            }
        }

        .feat-box:last-child {
            padding-bottom: 4em;
        }
    }

    .howto-icons {
        text-align: center;

        .icon-wrapper {
            display: block;
            width: 90%;
            height: auto;
            margin: 2.5em auto;
            overflow: auto;

            img {
                width: 60%;
                display: block;
                margin: auto;
            }

            p {
                width: 80%;
            }

            h3 {
                margin-bottom: 0 !important;
            }
        }
    }

    body.single .single-post-content iframe {
        max-width: 90%;
        width: auto;
        height: auto;
    }

    body.page-id-88 .logo-box .image {
        width: 150px;
        height: 150px;
    }
}

@media only screen and (min-width: 420px) and (max-width: 767px) {


    #features {
        h3 {
            max-width: 300px;
            display: block;
            margin: auto;
        }

        .feat-container {
            display: block;
            padding-top: 0;
        }
    }

    #preview-in-seconds {
        .icon-wrapper {
            display: inline-grid;
            width: 39% !important;
            height: auto;
            padding: 1em;
            margin: auto;
            text-align: center;
            overflow: auto;
        }

        img {
            width: 90%;
            display: block;
            margin: auto;
        }

        p {
            width: 90%;
        }
    }


    body.single .single-post-content iframe {
        max-width: 90%;
        width: auto;
        height: auto;
    }

    body.page-id-88 .logo-box .image {
        width: 150px;
        height: 150px;
    }

    #posts-front-page .feat-box,
    #posts-home-page .feat-box {
        height: 50%;
        width: 50%;
        float: none !important;
        margin-left: auto;
        margin-right: auto;
    }

    body.single .single-post-content iframe {
        max-width: 90%;
        width: auto;
        height: auto;
    }

    body.page-id-88 .logo-box .image {
        width: 150px;
        height: 150px;
    }
}

@media only screen and (max-width: 767px) {

    .error404 {
        margin-top: 12vh;
    }

    body.page-id-88 #logo-search-page p,
    body.page-id-85 #single-post-page p,
    body.page-id-78 #single-post-page p,
    body.single #single-post-page p,
    body.blog #posts p {
        padding: 0.5em 1em !important;
        margin-bottom: 0;
    }

    body.single .single-post-content img,
    body.blog .single-post-content img {
        margin-bottom: 1em;
    }

    body.page-id-88 .logo-box-wrapper,
    body.page-id-85 .single-post-content,
    body.page-id-78 .single-post-content,
    body.single .single-post-content,
    body.blog .single-post-content {
        padding-bottom: 1em;
    }


    #features,
    #features-v-2 {
        margin-top: 3em;

        h2 {
            max-width: 80%;
            .m-auto;
        }

        h3 {
            margin-bottom: 1em;
        }

        .feat-container {
            .feat-box {
                padding: 1.2em 0;

                h3,
                p {
                    max-width: 300px;
                    margin: auto;
                }
            }
        }
    }

    #features-v-2 .feat-container {
        display: grid;
        grid-gap: 3vw;
        grid-template-columns: 1fr 1fr;
    }

    #features .feat-container {
        display: block;
    }

    #options .options-wrapper {
        display: block;

        .option:last-child {
            margin-top: 4em;
        }
    }

    .youtube-wrapper {
        display: block;
        margin: auto;

        .video-frame:before {
            content: "";
            padding-top: 56%;
            display: block;
            margin: auto;
        }

        .video-frame {
            position: relative;
            max-width: 560px;
            width: 90%;
            display: block;
            margin: 2em auto 3em auto;
        }

    }

    #our-clients {
        .grid-wrapper {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 60px 60px 60px !important;

        }
    }

    #posts-front-page {
        margin-top: 0;
    }

    #posts-front-page h1,
    #posts-home-page h1 {
        padding-top: 1em;
    }

    body.page-id-88 #logo-search-page p,
    body.page-id-85 #single-post-page p,
    body.page-id-78 #single-post-page p,
    body.single #single-post-page p,
    body.blog #posts p {
        padding: 0.5em 1em !important;
        margin-bottom: 0;
    }

    body.single .single-post-content img,
    body.blog .single-post-content img {
        margin-bottom: 1em;
    }

    body.page-id-88 .logo-box-wrapper,
    body.page-id-85 .single-post-content,
    body.page-id-78 .single-post-content,
    body.single .single-post-content,
    body.blog .single-post-content {
        padding-bottom: 1em;
    }
}


@media only screen and (min-width: 768px) {
    .error404 {
        margin-top: 20vh;
    }

    .pro p,
    .pro h2 {
        width: 300px;
        margin: auto;
        text-align: left;
    }

    .feat-box {
        margin: 4%;
    }

    .basic p,
    .basic h2 {
        width: 100%;
        margin: auto;
        text-align: right;
    }

    .pro p,
    .pro h2 {
        width: 100%;
        margin: auto;
        text-align: left;
    }

    wrapper {
        width: 80%;
        display: block;
        margin: auto;
        padding: 2em;
    }


    body.page-id-85 #single-post-page p,
    body.page-id-78 #single-post-page p,
    body.single #single-post-page p,
    body.blog #posts p {
        padding: 2em 1em !important;
        margin-bottom: 0;
        max-width: 900px;
        margin: 0 auto;
    }

    body.page-id-88 #logo-search-page p {
        padding: 1em 1em;
        margin-bottom: 0;
        max-width: 900px;
        margin: 0 auto;
    }

    body.single .single-post-content img,
    body.blog .single-post-content img {
        margin-bottom: 1em;
    }

    body.page-id-88 .logo-box-wrapper,
    body.page-id-85 .single-post-content,
    body.page-id-78 .single-post-content,
    body.single .single-post-content,
    body.blog .single-post-content {
        padding-bottom: 1em;
    }

    body.single .single-post-content iframe {
        max-width: 90%;
        width: 540px;
        height: 480px;
    }

    #posts-front-page h1,
    #posts-home-page h1,
    #posts {
        padding-top: 1em;
    }

    #features,
    #features-v-2 {
        margin-top: 1em;

        .feat-container {
            vertical-align: top;

            p {
                text-align: justify;
            }

            display: grid;
        }

        .feat-box {
            margin-top: 0;
        }
    }

    #features .feat-container {
        grid-gap: 3vw;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #features-v-2 .feat-container {
        grid-gap: 3vw;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .youtube-wrapper {
        display: flex !important;
        margin: auto;

        .video-frame:before {
            content: "";
            padding-top: 56%;
            display: block;
            margin: auto;
        }

        .video-frame {
            position: relative;
            max-width: 560px;
            width: 30%;
            display: block;
            margin: 2em auto 3em auto;
        }
    }

    #our-clients {
        .grid-wrapper {
            grid-template-columns: 1fr 1fr 1fr;

        }
    }

    #options .options-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;

        ul {
            padding-left: 4em;
        }

    }

    .social-media-icons i {
        margin: 0 0.5em;
    }


}

@media only screen and (min-width: 768px) and (max-width: 1200px) {

    .icon-wrapper {
        float: left;
        /*    display: inline-block; */
        width: 25%;
        height: auto;
        margin: auto;
        overflow: auto;

        img {
            width: 90%;
            max-width: 180px;
            display: block;
            margin: auto;
        }

        p {
            width: 90%;
        }
    }

    body.page-id-88 .logo-box .image {
        width: 200px;
        height: 200px;
    }

}

@media only screen and (min-width: 1200px) {

    #preview-in-seconds {
        .icon-wrapper {
            float: left;
            /*    display: inline-block; */
            width: 25%;
            height: auto;
            margin: auto;
            overflow: auto;

            img {
                width: 90%;
                max-width: 200px;
                display: block;
                margin: auto;
            }

            p {
                width: 90%;
            }
        }
    }


    body.page-id-88 .logo-box .image {
        width: 250px;
        height: 250px;
    }
}


@media screen and (min-width: 1025px) {


    body.page-id-88 .logo-box-wrapper img,
    body.page-id-85 .single-post-content img,
    body.page-id-78 .single-post-content img,
    body.single .single-post-content img,
    body.blog .single-post-content img {
        margin-bottom: 2em;
    }
}

body.page-id-88 .logo-box-wrapper,
body.page-id-85 .single-post-content,
body.page-id-78 .single-post-content,
body.single .single-post-content,
body.blog .single-post-content {
    padding: 3em 0;
}

/****** 

STYLE OGOLNE

****/

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #ffffff;
    font-family: "Catamaran", sans-serif;
}

/* Style the links inside the navigation bar */

/*******************

POSTS-FRONT-PAGE

//**************/
//
//.entry-header .entry-title {
//    color: white;
//    font-size: 2em;
//}
//
//#posts-front-page {
//    margin-top: 0;
//    background-image: linear-gradient(#f8f8f8, #fff);
//}
//
//#posts-front-page,
//#posts-home-page {
//    padding: 0 0 2em 0;
//    overflow: auto;
//}
//
//#posts-home-page {
//    box-shadow: 0px 3px 10px rgb(230, 230, 230);
//    background-color: rgba(255, 255, 255, 1);
//    border-radius: 10px;
//    width: 90%;
//}
//
//#posts-front-page .feat-container,
//#posts-home-page .feat-container {
//    width: 100%;
//    margin: auto;
//    display: block;
//    height: auto;
//    overflow: auto;
//}
//
//#posts-front-page .feat-box,
//#posts-home-page .feat-box {
//    vertical-align: top;
//    float: left;
//    background-color: #f2f2f2;
//    border-radius: 10px;
//    box-shadow: 0px 4px 15px rgb(214, 214, 214);
//}
//
//#posts-front-page .feat-box:hover,
//#posts-home-page .feat-box:hover {
//    box-shadow: 0px 6px 25px rgb(202, 193, 183);
//}
//
//#posts-front-page .feat-box h3,
//#posts-home-page .feat-box h3 {
//    color: #022738;
//    font-size: 1em;
//    padding-left: 1em;
//    padding-right: 1em;
//}
//
//#posts-front-page .feat-box p,
//#posts-home-page .feat-box p {
//    text-align: justify;
//}
//
//#posts-front-page .feat-box .feat-icon,
//#posts-home-page .feat-box .feat-icon {
//    text-align: center;
//    background-color: white;
//    width: auto;
//    height: 10em;
//    margin: 0 auto 1em auto;
//    border-radius: 10px 10px 0 0;
//}
//
//#posts-front-page .feat-box .feat-icon img,
//#posts-home-page .feat-box .feat-icon img {
//    height: 100%;
//    max-width: 100%;
//    width: auto;
//    background-color: white;
//    border-radius: 10px 10px 0 0;
//}
//
//#posts-front-page .feat-box .feat-icon p,
//#posts-home-page .feat-box .feat-icon p {
//    font-size: 50px;
//    text-align: center;
//    position: relative;
//    top: 9px;
//    color: #ffffff;
//}
//
//#posts-front-page li,
//#posts-home-page li {
//    list-style-type: none;
//}
//
//#posts-front-page li a,
//#posts-home-page li a {
//    display: block;
//}
/****************

POST on SINGLE-POST PAGE (single rad post page)

*******/

#logo-search-page,
#single-post-page {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 9em;
    min-height: 400px;
    left: 0;
    right: 0;
    display: block;
    height: auto;
    color: #141313;
    z-index: 3;
}

#single-post-page .entry-content {
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #f15a24;
}

.post-thumbnail img {
    padding-top: 50px;
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

.entry-footer .cat-links a {
    color: blue;
}

#single-post-page .post .entry-content {
    padding-top: 50px;
    padding-bottom: 100px;
}

body.error404 .single-post-content,
body.page-id-85 .single-post-content,
body.page-id-78 .single-post-content,
body.single .single-post-content {
    text-align: left;
    display: block;
    margin: auto;
    width: 90%;
}

.single-post-content a {
    color: #f15a24;
}

body.single .single-post-content iframe {
    margin: auto;
    display: block;
}

body.error404 #single-post-page,
body.page-id-88 .logo-box-wrapper,
body.page-id-85 #single-post-page,
body.page-id-78 #single-post-page,
body.single #single-post-page {
    max-width: 90%;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    box-shadow: 1px 2px 8px #eee;
}

body.error404 #single-post-page p.post-title,
body.page-id-88 #logo-search-page p.post-title,
body.page-id-85 #single-post-page p.post-title,
body.page-id-78 #single-post-page p.post-title,
body.single #single-post-page p.post-title {
    text-align: center;
}

body.single .post-only {
    height: auto;
    overflow: auto;
}

body.error404 #single-post-page h1,
body.page-id-88 #logo-search-page h1,
body.page-id-85 #single-post-page h1,
body.page-id-78 #single-post-page h1,
body.page-id-88 .post-title,
body.page-id-85 .post-title,
body.page-id-78 .post-title,
body.single .post-title {
    font-size: 1.5em;
    font-weight: bold;
}

/****************

404 

*******/

.error404 {

    .post-title {
        font-size: 1.5em;
        font-weight: bold;
        padding: 3em 1em 1em 1em;
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }

    .post-content {
        height: 100%;

        h3 {
            text-align: center;
        }

        p {
            text-align: center;
            width: 80%;
            .m-auto;
        }

        .error-img {
            width: 90%;
            display: block;
            max-width: 400px;
            height: 150px;
            .m-auto;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
    }


}

/****************

POSTS on HOME PAGE (blog page)

*******/

#posts,
#posts-home-page {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 9em;
    left: 0;
    right: 0;
    display: block;
    height: auto;
    color: #141313;
    z-index: 3;
}

.entry-content p img {
    border-radius: 5px;
}

.edit-link .post-edit-link {
    color: blue;
}

body.blog #posts {
    max-width: 80%;
}

body.blog .post-only {
    height: auto;
    overflow: auto;
}

body.blog .post-title {
    font-size: 1.5em;
    font-weight: bold;
}

body.blog .single-post-content {
    margin-bottom: 2em;
    background-color: rgba(255, 255, 255, 0.76);
    border-radius: 5px;
    box-shadow: 1px 2px 8px #eee;
}

body.blog .single-post-content img {
    border-radius: 10px;
    width: 70%;
    height: 70%;
}

/******

SOCIAL MEDIA

*****/

.social-media {
    text-align: center;
    height: auto;

    iframe {
        position: absolute;
        width: 100%;
        top: 0;
        right: 0;
        left: 0;
        height: 100%;
        border: 4px solid #ffffff;
    }

    .social-media-icons {
        width: 100%;
        display: block;

        a {
            color: #9a9a9a;
            padding: 20px;

            &:hover {
                color: #ff7600;
                cursor: pointer;
            }

        }
    }

}

/****** 

FEATURES

****/

#features,
#features-v-2 {
    overflow: auto;

    .feat-container {

        margin: auto;
        height: auto;
        overflow: auto;

        .feat-box {
            h3 {
                color: #022738;
            }


            .feat-icon {
                text-align: center;
                width: 90px;
                height: 90px;
                margin: 0 auto 1em auto;
                background-size: 80%;
                background-position: center center;
                background-repeat: no-repeat;


                p {
                    margin-top: 0;
                    font-size: 70px;
                    text-align: center;
                    position: relative;
                    top: 9px;
                    color: #f4732b;
                    /* był poprzednio #f15a24 */
                }
            }
        }
    }
}

#features-v-2 {
    .feat-container p {
        text-align: center !important;
    }
}

/****OPTIONS***/

#options,
#technology {
    background-color: @light-bg;
    padding: 0.5em 0 2em 0;

    .options-wrapper {
        max-width: 900px;
        width: 90%;
        margin-right: auto;
        margin-left: auto;

        p {
            margin: 0;
        }

        ul {
            list-style-type: none;
            text-align: left;

            li {
                display: grid;
                grid-template-columns: 1.5em 1fr;
                grid-gap: 10%;
                list-style-type: none;
                padding: 1em 0;

                i {
                    background-image: url(.././assets/img/chevron.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 24px;
                    height: 24px;
                    display: block;
                }
            }
        }

        .option {
            h2 {
                margin: 0;
            }

            .plan-desc {
                max-width: 70%;
                text-align: center;
                margin: 1em auto 0 auto;
            }

        }
    }
}

/****** 

OUR CUSTOMERS

****/

#our-clients {
    padding-top: 2em;
    .w-1200;

    .grid-wrapper {
        padding: 3em 0;
        height: auto;
        display: grid !important;
        grid-gap: 6vw;
        margin: auto;
        grid-auto-rows: 40px;
        max-width: 1200px;

    }

    .customer-logo {

        display: block;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
        margin: auto;
        opacity: 0.8;

        img {
            max-height: 60px;
            max-width: 90%;
            margin: auto;
            text-align: center;
            display: block;
        }
    }
}



/****** 

FLOORING

****/

body.page-id-88 .post-title {
    color: white;
    font-size: 3em;
}

body.page-id-88 input {
    width: 87%;
    max-width: 90%;
    height: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding-left: 3%;
}

body.page-id-88 .logo-box-wrapper {
    margin: auto;
    width: 100%;
}

body.page-id-88 .logo-box {
    padding: 2em 0 0 0;
    margin: 2em 0 0 0;
}

body.page-id-88 .logo-box .image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    display: inline-block;
    opacity: 0.8;
}

body.page-id-88 .logo-box .image:hover {
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(129, 129, 129, 0.2);
    opacity: 1;
}

body.page-id-88 h1 {
    margin: 2em 20% 2em 20%;


}

body.page-id-88 .contact-btn {
    margin: 2em auto 2em auto;
    border-color: #f15a24;
    border-style: solid;
    border-width: 2px;
    display: block;
    line-height: 2.5em;
    color: #f15a24;
    width: 90%;
    max-width: 400px;
    border-radius: 5px;
    text-align: center;
    padding: 1% 1% 1% 1%;
}


body.page-template-pricing,
body.single-post,
body.blog {
    background-color: #f3f3f3;
}

body.page-template-pricing #kontakt {
    position: relative;
    left: 0;
    right: 0;
    z-index: 3;
    background: none;
    padding-top: 0;
}

body.page-template-pricing #kontakt h1,
body.page-template-pricing #kontakt p,
body.page-template-pricing #kontakt label {
    color: #000;
}

body.page-template-pricing #kontakt input,
body.page-template-pricing #kontakt textarea {
    border: 1px solid #eaeaea !important;
}

body.page-template-pricing #kontakt input:hover {
    box-shadow: 0px 3px 6px rgba(129, 129, 129, 0.6) !important;
}


.popup {
    height: 100%;
    width: 100%;
    top: 0;
    position: fixed;
    background-color: #000;
    opacity: 0.5;
    display: block;
    margin: auto;
    z-index: 10000;
}

.arrow-up {
    width: 4em;
    display: block;
    position: fixed;
    bottom: 1em;
    right: 0.5em;
    z-index: 10;
    float: right;
}

.lite-demo {
    width: 100%;
    height: calc(~"100vh - 200px");
    overflow: visible;
    margin-top: 50px;
    border: none;

}

#free-trial {
    height: auto;
    background-color: #f8f8f8;
    display: block;
    margin: auto;
    padding: 2em 0 0 0;
    border-bottom: 2px solid #eee;

    h2,
    p {
        max-width: 600px;
        width: 90%;
        margin: auto;
    }

    p {
        margin-top: 1em;
        margin-bottom: 2em;
    }

    .wpcf7-submit {
        background: @orange ;
        border: 2px solid @orange ;
        color: #fff;
        font-weight: bold;
        width: 100%;
    }
}



#free-trial {
    form {
        width: 90%;
        max-width: 400px;
        margin: auto;
    }

    .wpcf7-submit {
        background: #333;
        border: 2px solid #333 !important;
        color: #fff;
    }

    .wpcf7-not-valid-tip {
        color: #333;
    }

    .trial-form {

        .your-email input {
            border-top: 2px solid #c9c9c9;
            border-bottom: 2px solid #c9c9c9;
            border-left: 2px solid #c9c9c9;
            border-right: none;
            border-radius: 5px 0 0 5px;
            height: 34px;
            text-indent: 10px;
            width: 100%;
        }
    }

    .wpcf7-not-valid-tip {
        color: #333;
    }

    .wpcf7-response-output {
        border-radius: 3px;
        margin: 0;
        color: #333;
    }

}

.header {
    .wpcf7-submit {
        background: #333;
        border: 2px solid #333 !important;
        color: #fff;
    }

    .wpcf7-not-valid-tip {
        color: #fff;
    }

    .your-email input {
        height: 38px;
        border: none;
        width: 100%
    }

    .wpcf7-not-valid-tip {
        color: #fff;
    }

    .wpcf7-response-output {
        border-radius: 3px;
        margin: 0;
        color: #fff;
    }
}

.header,
#free-trial .wpcf7-form {

    .trial-form {
        display: grid;
        grid-template-columns: 2fr 1fr 0px;
        grid-template-rows: 44px 80px;
        grid-template-areas: "a  b c";
        height: 90px;

        .wpcf7-submit {
            grid-area: b !important;
            height: 40px !important;
            font-weight: bold !important;
            font-size: 0.8em !important;
            border-radius: 0px 5px 5px 0px !important;

            &:hover {
                background-color: @orange  !important;
                cursor: pointer;
                border: 2px solid @orange  !important;
                color: #fff;
            }
        }

        .your-email {
            grid-area: a;

            input {
                border-radius: 5px 0 0 5px;
                text-indent: 10px;
                font-size: 0.8em !important;
            }

        }
    }



}

#technology {
    .box-container {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .tech-img {
        max-width: 100%;
        height: 400px;
        display: block;
        margin: auto;
        background-position: center;
        background-repeat: no-repeat;
    }

    i {
        background-image: url(.././assets/img/chevron.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
