html {
    overflow-x: auto;
}

.text-c {
    text-align: center;
}

.text-l {
    text-align: left;
}

.m-auto {
    margin: auto;
}

h1 {
    max-width: 1200px;
    width: 90%;
    display: block;
    margin: auto;

}

.button {
    height: 35px;
    border-radius: 22px !important;
    width: 150px;
    display: block;


    p {
        margin: 0;
        padding: 3px 0;
    }
}

.btn-orange {
    background-color: @orange;
    color: @white;
    .text-c;
    font-weight: bold;

    &:hover {
        background-color: @light-orange;
    }
}

.w-1200 {
    max-width: 1200px;
    width: 90%;
    display: block;
    margin: auto;
    text-align: center;
}

.m-a-auto {
    margin-right: auto;
    margin-left: auto;
    right: 0;
    left: 0;
}

.relative {
    position: relative;
}


.header-buttons > a:last-child {
    -webkit-animation: pulse 1.75s infinite ease-in-out;
    -moz-animation: pulse 1.75s infinite ease-in-out;
    -ms-animation: pulse 1.75s infinite ease-in-out;
    animation: pulse 1.75s infinite ease-in-out;
}


.header-buttons > a:last-child:hover {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;
}

@keyframes pulse {
    0% {
        box-shadow: 0px 0px 5px 10px #fff;
        box-shadow: 0px 0px 5px #fff;
        background-color: rgba(255, 118, 0, 0);
    }

    75% {
        box-shadow: 0px 0px 25px 10px #fff;
        box-shadow: 0px 0px 25px rgba(255, 255, 255, 1);
        background-color: rgba(255, 118, 0, 0.6);
    }

    100% {
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
    }
}
