#features h3 {
  max-width: 300px;
  margin: auto;
  display: block;
}
#features .feat-container {
  padding-top: 1em;
  display: grid;
}
#features .feat-box {
  margin-top: 0;
  padding-bottom: 2em !important;
}
#features .feat-box p {
  max-width: 80%;
}
#features .feat-box:last-child {
  padding-bottom: 4em;
}
#features .feat-container {
  grid-gap: 3vw;
  grid-template-columns: 1fr 1fr 1fr;
}
#features,
#features-v-2 {
  overflow: auto;
}
#features .feat-container,
#features-v-2 .feat-container {
  margin: auto;
  height: auto;
  overflow: auto;
}
#features .feat-container .feat-box h3,
#features-v-2 .feat-container .feat-box h3 {
  color: #022738;
}
#features .feat-container .feat-box .feat-icon,
#features-v-2 .feat-container .feat-box .feat-icon {
  text-align: center;
  width: 90px;
  height: 90px;
  margin: 0 auto 1em auto;
  background-size: 80%;
  background-position: center center;
  background-repeat: no-repeat;
}
#features .feat-container .feat-box .feat-icon p,
#features-v-2 .feat-container .feat-box .feat-icon p {
  margin-top: 0;
  font-size: 70px;
  text-align: center;
  position: relative;
  top: 9px;
  color: #f4732b;
  /* był poprzednio #f15a24 */
}
/*# sourceMappingURL=main.css.map */