.text-dark {
  color: #000;
}
.text-warning {
  color: #f15a24;
}
a {
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}
@media only screen and (max-width: 420px) {
  p {
    width: 100%;
    display: block;
    margin: auto;
    padding: 0;
  }
  #features h3 {
    max-width: 300px;
    margin: auto;
    display: block;
    padding: 10px 0;
  }
  #features .feat-container {
    padding-top: 1em;
  }
  #features .feat-box {
    margin-top: 0;
    padding-bottom: 2em !important;
  }
  #features .feat-box p {
    max-width: 80%;
  }
  #features .feat-box:last-child {
    padding-bottom: 4em;
  }
  .howto-icons {
    text-align: center;
  }
  .howto-icons .icon-wrapper {
    display: block;
    width: 90%;
    height: auto;
    margin: 2.5em auto;
    overflow: auto;
  }
  .howto-icons .icon-wrapper img {
    width: 60%;
    display: block;
    margin: auto;
  }
  .howto-icons .icon-wrapper p {
    width: 80%;
  }
  .howto-icons .icon-wrapper h3 {
    margin-bottom: 0 !important;
  }
  body.single .single-post-content iframe {
    max-width: 90%;
    width: auto;
    height: auto;
  }
  body.page-id-88 .logo-box .image {
    width: 150px;
    height: 150px;
  }
}
@media only screen and (min-width: 420px) and (max-width: 767px) {
  #features h3 {
    max-width: 300px;
    display: block;
    margin: auto;
  }
  #features .feat-container {
    display: block;
    padding-top: 0;
  }
  #preview-in-seconds .icon-wrapper {
    display: inline-grid;
    width: 39% !important;
    height: auto;
    padding: 1em;
    margin: auto;
    text-align: center;
    overflow: auto;
  }
  #preview-in-seconds img {
    width: 90%;
    display: block;
    margin: auto;
  }
  #preview-in-seconds p {
    width: 90%;
  }
  body.single .single-post-content iframe {
    max-width: 90%;
    width: auto;
    height: auto;
  }
  body.page-id-88 .logo-box .image {
    width: 150px;
    height: 150px;
  }
  #posts-front-page .feat-box,
  #posts-home-page .feat-box {
    height: 50%;
    width: 50%;
    float: none !important;
    margin-left: auto;
    margin-right: auto;
  }
  body.single .single-post-content iframe {
    max-width: 90%;
    width: auto;
    height: auto;
  }
  body.page-id-88 .logo-box .image {
    width: 150px;
    height: 150px;
  }
}
@media only screen and (max-width: 767px) {
  .error404 {
    margin-top: 12vh;
  }
  body.page-id-88 #logo-search-page p,
  body.page-id-85 #single-post-page p,
  body.page-id-78 #single-post-page p,
  body.single #single-post-page p,
  body.blog #posts p {
    padding: 0.5em 1em !important;
    margin-bottom: 0;
  }
  body.single .single-post-content img,
  body.blog .single-post-content img {
    margin-bottom: 1em;
  }
  body.page-id-88 .logo-box-wrapper,
  body.page-id-85 .single-post-content,
  body.page-id-78 .single-post-content,
  body.single .single-post-content,
  body.blog .single-post-content {
    padding-bottom: 1em;
  }
  #features,
  #features-v-2 {
    margin-top: 3em;
  }
  #features h2,
  #features-v-2 h2 {
    max-width: 80%;
    margin: auto;
  }
  #features h3,
  #features-v-2 h3 {
    margin-bottom: 1em;
  }
  #features .feat-container .feat-box,
  #features-v-2 .feat-container .feat-box {
    padding: 1.2em 0;
  }
  #features .feat-container .feat-box h3,
  #features-v-2 .feat-container .feat-box h3,
  #features .feat-container .feat-box p,
  #features-v-2 .feat-container .feat-box p {
    max-width: 300px;
    margin: auto;
  }
  #features-v-2 .feat-container {
    display: grid;
    grid-gap: 3vw;
    grid-template-columns: 1fr 1fr;
  }
  #features .feat-container {
    display: block;
  }
  #options .options-wrapper {
    display: block;
  }
  #options .options-wrapper .option:last-child {
    margin-top: 4em;
  }
  .youtube-wrapper {
    display: block;
    margin: auto;
  }
  .youtube-wrapper .video-frame:before {
    content: "";
    padding-top: 56%;
    display: block;
    margin: auto;
  }
  .youtube-wrapper .video-frame {
    position: relative;
    max-width: 560px;
    width: 90%;
    display: block;
    margin: 2em auto 3em auto;
  }
  #our-clients .grid-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 60px 60px !important;
  }
  #posts-front-page {
    margin-top: 0;
  }
  #posts-front-page h1,
  #posts-home-page h1 {
    padding-top: 1em;
  }
  body.page-id-88 #logo-search-page p,
  body.page-id-85 #single-post-page p,
  body.page-id-78 #single-post-page p,
  body.single #single-post-page p,
  body.blog #posts p {
    padding: 0.5em 1em !important;
    margin-bottom: 0;
  }
  body.single .single-post-content img,
  body.blog .single-post-content img {
    margin-bottom: 1em;
  }
  body.page-id-88 .logo-box-wrapper,
  body.page-id-85 .single-post-content,
  body.page-id-78 .single-post-content,
  body.single .single-post-content,
  body.blog .single-post-content {
    padding-bottom: 1em;
  }
}
@media only screen and (min-width: 768px) {
  .error404 {
    margin-top: 20vh;
  }
  .pro p,
  .pro h2 {
    width: 300px;
    margin: auto;
    text-align: left;
  }
  .feat-box {
    margin: 4%;
  }
  .basic p,
  .basic h2 {
    width: 100%;
    margin: auto;
    text-align: right;
  }
  .pro p,
  .pro h2 {
    width: 100%;
    margin: auto;
    text-align: left;
  }
  wrapper {
    width: 80%;
    display: block;
    margin: auto;
    padding: 2em;
  }
  body.page-id-85 #single-post-page p,
  body.page-id-78 #single-post-page p,
  body.single #single-post-page p,
  body.blog #posts p {
    padding: 2em 1em !important;
    margin-bottom: 0;
    max-width: 900px;
    margin: 0 auto;
  }
  body.page-id-88 #logo-search-page p {
    padding: 1em 1em;
    margin-bottom: 0;
    max-width: 900px;
    margin: 0 auto;
  }
  body.single .single-post-content img,
  body.blog .single-post-content img {
    margin-bottom: 1em;
  }
  body.page-id-88 .logo-box-wrapper,
  body.page-id-85 .single-post-content,
  body.page-id-78 .single-post-content,
  body.single .single-post-content,
  body.blog .single-post-content {
    padding-bottom: 1em;
  }
  body.single .single-post-content iframe {
    max-width: 90%;
    width: 540px;
    height: 480px;
  }
  #posts-front-page h1,
  #posts-home-page h1,
  #posts {
    padding-top: 1em;
  }
  #features,
  #features-v-2 {
    margin-top: 1em;
  }
  #features .feat-container,
  #features-v-2 .feat-container {
    vertical-align: top;
    display: grid;
  }
  #features .feat-container p,
  #features-v-2 .feat-container p {
    text-align: justify;
  }
  #features .feat-box,
  #features-v-2 .feat-box {
    margin-top: 0;
  }
  #features .feat-container {
    grid-gap: 3vw;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #features-v-2 .feat-container {
    grid-gap: 3vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .youtube-wrapper {
    display: flex !important;
    margin: auto;
  }
  .youtube-wrapper .video-frame:before {
    content: "";
    padding-top: 56%;
    display: block;
    margin: auto;
  }
  .youtube-wrapper .video-frame {
    position: relative;
    max-width: 560px;
    width: 30%;
    display: block;
    margin: 2em auto 3em auto;
  }
  #our-clients .grid-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #options .options-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #options .options-wrapper ul {
    padding-left: 4em;
  }
  .social-media-icons i {
    margin: 0 0.5em;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .icon-wrapper {
    float: left;
    /*    display: inline-block; */
    width: 25%;
    height: auto;
    margin: auto;
    overflow: auto;
  }
  .icon-wrapper img {
    width: 90%;
    max-width: 180px;
    display: block;
    margin: auto;
  }
  .icon-wrapper p {
    width: 90%;
  }
  body.page-id-88 .logo-box .image {
    width: 200px;
    height: 200px;
  }
}
@media only screen and (min-width: 1200px) {
  #preview-in-seconds .icon-wrapper {
    float: left;
    /*    display: inline-block; */
    width: 25%;
    height: auto;
    margin: auto;
    overflow: auto;
  }
  #preview-in-seconds .icon-wrapper img {
    width: 90%;
    max-width: 200px;
    display: block;
    margin: auto;
  }
  #preview-in-seconds .icon-wrapper p {
    width: 90%;
  }
  body.page-id-88 .logo-box .image {
    width: 250px;
    height: 250px;
  }
}
@media screen and (min-width: 1025px) {
  body.page-id-88 .logo-box-wrapper img,
  body.page-id-85 .single-post-content img,
  body.page-id-78 .single-post-content img,
  body.single .single-post-content img,
  body.blog .single-post-content img {
    margin-bottom: 2em;
  }
}
body.page-id-88 .logo-box-wrapper,
body.page-id-85 .single-post-content,
body.page-id-78 .single-post-content,
body.single .single-post-content,
body.blog .single-post-content {
  padding: 3em 0;
}
/****** 

STYLE OGOLNE

****/
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #ffffff;
  font-family: "Catamaran", sans-serif;
}
/* Style the links inside the navigation bar */
/*******************

POSTS-FRONT-PAGE

//**************/
/****************

POST on SINGLE-POST PAGE (single rad post page)

*******/
#logo-search-page,
#single-post-page {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 9em;
  min-height: 400px;
  left: 0;
  right: 0;
  display: block;
  height: auto;
  color: #141313;
  z-index: 3;
}
#single-post-page .entry-content {
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #f15a24;
}
.post-thumbnail img {
  padding-top: 50px;
  height: 100px;
  width: 100px;
  border-radius: 10px;
}
.entry-footer .cat-links a {
  color: blue;
}
#single-post-page .post .entry-content {
  padding-top: 50px;
  padding-bottom: 100px;
}
body.error404 .single-post-content,
body.page-id-85 .single-post-content,
body.page-id-78 .single-post-content,
body.single .single-post-content {
  text-align: left;
  display: block;
  margin: auto;
  width: 90%;
}
.single-post-content a {
  color: #f15a24;
}
body.single .single-post-content iframe {
  margin: auto;
  display: block;
}
body.error404 #single-post-page,
body.page-id-88 .logo-box-wrapper,
body.page-id-85 #single-post-page,
body.page-id-78 #single-post-page,
body.single #single-post-page {
  max-width: 90%;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 1px 2px 8px #eee;
}
body.error404 #single-post-page p.post-title,
body.page-id-88 #logo-search-page p.post-title,
body.page-id-85 #single-post-page p.post-title,
body.page-id-78 #single-post-page p.post-title,
body.single #single-post-page p.post-title {
  text-align: center;
}
body.single .post-only {
  height: auto;
  overflow: auto;
}
body.error404 #single-post-page h1,
body.page-id-88 #logo-search-page h1,
body.page-id-85 #single-post-page h1,
body.page-id-78 #single-post-page h1,
body.page-id-88 .post-title,
body.page-id-85 .post-title,
body.page-id-78 .post-title,
body.single .post-title {
  font-size: 1.5em;
  font-weight: bold;
}
/****************

404 

*******/
.error404 .post-title {
  font-size: 1.5em;
  font-weight: bold;
  padding: 3em 1em 1em 1em;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
.error404 .post-content {
  height: 100%;
}
.error404 .post-content h3 {
  text-align: center;
}
.error404 .post-content p {
  text-align: center;
  width: 80%;
  margin: auto;
}
.error404 .post-content .error-img {
  width: 90%;
  display: block;
  max-width: 400px;
  height: 150px;
  margin: auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
/****************

POSTS on HOME PAGE (blog page)

*******/
#posts,
#posts-home-page {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 9em;
  left: 0;
  right: 0;
  display: block;
  height: auto;
  color: #141313;
  z-index: 3;
}
.entry-content p img {
  border-radius: 5px;
}
.edit-link .post-edit-link {
  color: blue;
}
body.blog #posts {
  max-width: 80%;
}
body.blog .post-only {
  height: auto;
  overflow: auto;
}
body.blog .post-title {
  font-size: 1.5em;
  font-weight: bold;
}
body.blog .single-post-content {
  margin-bottom: 2em;
  background-color: rgba(255, 255, 255, 0.76);
  border-radius: 5px;
  box-shadow: 1px 2px 8px #eee;
}
body.blog .single-post-content img {
  border-radius: 10px;
  width: 70%;
  height: 70%;
}
/******

SOCIAL MEDIA

*****/
.social-media {
  text-align: center;
  height: auto;
}
.social-media iframe {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  border: 4px solid #ffffff;
}
.social-media .social-media-icons {
  width: 100%;
  display: block;
}
.social-media .social-media-icons a {
  color: #9a9a9a;
  padding: 20px;
}
.social-media .social-media-icons a:hover {
  color: #ff7600;
  cursor: pointer;
}
/****** 

FEATURES

****/
#features,
#features-v-2 {
  overflow: auto;
}
#features .feat-container,
#features-v-2 .feat-container {
  margin: auto;
  height: auto;
  overflow: auto;
}
#features .feat-container .feat-box h3,
#features-v-2 .feat-container .feat-box h3 {
  color: #022738;
}
#features .feat-container .feat-box .feat-icon,
#features-v-2 .feat-container .feat-box .feat-icon {
  text-align: center;
  width: 90px;
  height: 90px;
  margin: 0 auto 1em auto;
  background-size: 80%;
  background-position: center center;
  background-repeat: no-repeat;
}
#features .feat-container .feat-box .feat-icon p,
#features-v-2 .feat-container .feat-box .feat-icon p {
  margin-top: 0;
  font-size: 70px;
  text-align: center;
  position: relative;
  top: 9px;
  color: #f4732b;
  /* był poprzednio #f15a24 */
}
#features-v-2 .feat-container p {
  text-align: center !important;
}
/****OPTIONS***/
#options,
#technology {
  background-color: #f8f8f8;
  padding: 0.5em 0 2em 0;
}
#options .options-wrapper,
#technology .options-wrapper {
  max-width: 900px;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}
#options .options-wrapper p,
#technology .options-wrapper p {
  margin: 0;
}
#options .options-wrapper ul,
#technology .options-wrapper ul {
  list-style-type: none;
  text-align: left;
}
#options .options-wrapper ul li,
#technology .options-wrapper ul li {
  display: grid;
  grid-template-columns: 1.5em 1fr;
  grid-gap: 10%;
  list-style-type: none;
  padding: 1em 0;
}
#options .options-wrapper ul li i,
#technology .options-wrapper ul li i {
  background-image: url(../assets/img/chevron.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
  display: block;
}
#options .options-wrapper .option h2,
#technology .options-wrapper .option h2 {
  margin: 0;
}
#options .options-wrapper .option .plan-desc,
#technology .options-wrapper .option .plan-desc {
  max-width: 70%;
  text-align: center;
  margin: 1em auto 0 auto;
}
/****** 

OUR CUSTOMERS

****/
#our-clients {
  padding-top: 2em;
  max-width: 1200px;
  width: 90%;
  display: block;
  margin: auto;
  text-align: center;
}
#our-clients .grid-wrapper {
  padding: 3em 0;
  height: auto;
  display: grid !important;
  grid-gap: 6vw;
  margin: auto;
  grid-auto-rows: 40px;
  max-width: 1200px;
}
#our-clients .customer-logo {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  margin: auto;
  opacity: 0.8;
}
#our-clients .customer-logo img {
  max-height: 60px;
  max-width: 90%;
  margin: auto;
  text-align: center;
  display: block;
}
/****** 

FLOORING

****/
body.page-id-88 .post-title {
  color: white;
  font-size: 3em;
}
body.page-id-88 input {
  width: 87%;
  max-width: 90%;
  height: 35px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding-left: 3%;
}
body.page-id-88 .logo-box-wrapper {
  margin: auto;
  width: 100%;
}
body.page-id-88 .logo-box {
  padding: 2em 0 0 0;
  margin: 2em 0 0 0;
}
body.page-id-88 .logo-box .image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  display: inline-block;
  opacity: 0.8;
}
body.page-id-88 .logo-box .image:hover {
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(129, 129, 129, 0.2);
  opacity: 1;
}
body.page-id-88 h1 {
  margin: 2em 20% 2em 20%;
}
body.page-id-88 .contact-btn {
  margin: 2em auto 2em auto;
  border-color: #f15a24;
  border-style: solid;
  border-width: 2px;
  display: block;
  line-height: 2.5em;
  color: #f15a24;
  width: 90%;
  max-width: 400px;
  border-radius: 5px;
  text-align: center;
  padding: 1% 1% 1% 1%;
}
body.page-template-pricing,
body.single-post,
body.blog {
  background-color: #f3f3f3;
}
body.page-template-pricing #kontakt {
  position: relative;
  left: 0;
  right: 0;
  z-index: 3;
  background: none;
  padding-top: 0;
}
body.page-template-pricing #kontakt h1,
body.page-template-pricing #kontakt p,
body.page-template-pricing #kontakt label {
  color: #000;
}
body.page-template-pricing #kontakt input,
body.page-template-pricing #kontakt textarea {
  border: 1px solid #eaeaea !important;
}
body.page-template-pricing #kontakt input:hover {
  box-shadow: 0px 3px 6px rgba(129, 129, 129, 0.6) !important;
}
.popup {
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  background-color: #000;
  opacity: 0.5;
  display: block;
  margin: auto;
  z-index: 10000;
}
.arrow-up {
  width: 4em;
  display: block;
  position: fixed;
  bottom: 1em;
  right: 0.5em;
  z-index: 10;
  float: right;
}
.lite-demo {
  width: 100%;
  height: calc(100vh - 200px);
  overflow: visible;
  margin-top: 50px;
  border: none;
}
#free-trial {
  height: auto;
  background-color: #f8f8f8;
  display: block;
  margin: auto;
  padding: 2em 0 0 0;
  border-bottom: 2px solid #eee;
}
#free-trial h2,
#free-trial p {
  max-width: 600px;
  width: 90%;
  margin: auto;
}
#free-trial p {
  margin-top: 1em;
  margin-bottom: 2em;
}
#free-trial .wpcf7-submit {
  background: #f15a24;
  border: 2px solid #f15a24;
  color: #fff;
  font-weight: bold;
  width: 100%;
}
#free-trial form {
  width: 90%;
  max-width: 400px;
  margin: auto;
}
#free-trial .wpcf7-submit {
  background: #333;
  border: 2px solid #333 !important;
  color: #fff;
}
#free-trial .wpcf7-not-valid-tip {
  color: #333;
}
#free-trial .trial-form .your-email input {
  border-top: 2px solid #c9c9c9;
  border-bottom: 2px solid #c9c9c9;
  border-left: 2px solid #c9c9c9;
  border-right: none;
  border-radius: 5px 0 0 5px;
  height: 34px;
  text-indent: 10px;
  width: 100%;
}
#free-trial .wpcf7-not-valid-tip {
  color: #333;
}
#free-trial .wpcf7-response-output {
  border-radius: 3px;
  margin: 0;
  color: #333;
}
.header .wpcf7-submit {
  background: #333;
  border: 2px solid #333 !important;
  color: #fff;
}
.header .wpcf7-not-valid-tip {
  color: #fff;
}
.header .your-email input {
  height: 38px;
  border: none;
  width: 100%;
}
.header .wpcf7-not-valid-tip {
  color: #fff;
}
.header .wpcf7-response-output {
  border-radius: 3px;
  margin: 0;
  color: #fff;
}
.header .trial-form,
#free-trial .wpcf7-form .trial-form {
  display: grid;
  grid-template-columns: 2fr 1fr 0px;
  grid-template-rows: 44px 80px;
  grid-template-areas: "a  b c";
  height: 90px;
}
.header .trial-form .wpcf7-submit,
#free-trial .wpcf7-form .trial-form .wpcf7-submit {
  grid-area: b !important;
  height: 40px !important;
  font-weight: bold !important;
  font-size: 0.8em !important;
  border-radius: 0px 5px 5px 0px !important;
}
.header .trial-form .wpcf7-submit:hover,
#free-trial .wpcf7-form .trial-form .wpcf7-submit:hover {
  background-color: #f15a24 !important;
  cursor: pointer;
  border: 2px solid #f15a24 !important;
  color: #fff;
}
.header .trial-form .your-email,
#free-trial .wpcf7-form .trial-form .your-email {
  grid-area: a;
}
.header .trial-form .your-email input,
#free-trial .wpcf7-form .trial-form .your-email input {
  border-radius: 5px 0 0 5px;
  text-indent: 10px;
  font-size: 0.8em !important;
}
#technology .box-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
#technology .tech-img {
  max-width: 100%;
  height: 400px;
  display: block;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
}
#technology i {
  background-image: url(../assets/img/chevron.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
html {
  overflow-x: auto;
}
.text-c {
  text-align: center;
}
.text-l {
  text-align: left;
}
.m-auto {
  margin: auto;
}
h1 {
  max-width: 1200px;
  width: 90%;
  display: block;
  margin: auto;
}
.button {
  height: 35px;
  border-radius: 22px !important;
  width: 150px;
  display: block;
}
.button p {
  margin: 0;
  padding: 3px 0;
}
.btn-orange {
  background-color: #f15a24;
  color: #fff;
  text-align: center;
  font-weight: bold;
}
.btn-orange:hover {
  background-color: #ff8c2a;
}
.w-1200 {
  max-width: 1200px;
  width: 90%;
  display: block;
  margin: auto;
  text-align: center;
}
.m-a-auto {
  margin-right: auto;
  margin-left: auto;
  right: 0;
  left: 0;
}
.relative {
  position: relative;
}
.header-buttons > a:last-child {
  -webkit-animation: pulse 1.75s infinite ease-in-out;
  -moz-animation: pulse 1.75s infinite ease-in-out;
  -ms-animation: pulse 1.75s infinite ease-in-out;
  animation: pulse 1.75s infinite ease-in-out;
}
.header-buttons > a:last-child:hover {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
}
@keyframes pulse {
  0% {
    box-shadow: 0px 0px 5px 10px #fff;
    box-shadow: 0px 0px 5px #fff;
    background-color: rgba(255, 118, 0, 0);
  }
  75% {
    box-shadow: 0px 0px 25px 10px #fff;
    box-shadow: 0px 0px 25px #ffffff;
    background-color: rgba(255, 118, 0, 0.6);
  }
  100% {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
  }
}
/**HEADER ****/
.brand img {
  position: fixed;
  display: block;
  z-index: 10;
  margin-left: 15px;
  margin-top: 10px;
  height: 30px;
  z-index: 102;
}
.header {
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
  top: 0;
  width: 100%;
  overflow: visible;
}
.header .header-wrapper {
  width: 90%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  right: 0;
  left: 0;
  position: absolute;
  grid-template-areas: "text ipad";
}
.header .header-wrapper .title {
  position: absolute;
  display: block;
  color: #ffffff;
  z-index: 3;
  grid-area: text;
}
.header .header-wrapper .title p {
  margin: 0 0 1em 0;
  font-size: 1.2em;
  line-height: 1.2em;
}
.header .header-wrapper .title .header-buttons > a {
  border: 2px solid #fff;
  width: 200px !important;
  color: #fff;
  text-align: center;
  margin-top: 10px;
}
.header .header-wrapper .title .header-buttons > a:hover {
  color: #fff;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.8);
  font-weight: 700 !important;
}
.header .header-wrapper .title h2 {
  line-height: 1.3em;
}
.header .header-wrapper .ipad-gif {
  background-image: url(../assets/img/gif-floori.gif);
  display: block;
  position: absolute;
  z-index: 90;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 6%;
  grid-area: ipad;
}
.header .header-wrapper .ipad-gif:before {
  content: "";
  padding-top: 69.5%;
  display: block;
}
.header .header-wrapper.floori-lite .header-gif {
  background-image: url(../assets/img/lite-gif.gif);
  display: block;
  z-index: 90;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  border: 3px solid #fff;
}
.header .header-bg {
  background-image: url(../assets/img/bg-anim.svg);
  background-position: 55% 100%;
  background-repeat: no-repeat;
  height: 100%;
  z-index: 1;
  animation-name: bg-position;
  animation-iteration-count: infinite;
  animation-duration: 7s;
}
.header-pricing,
.header-blog {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0px;
  display: block;
  z-index: 0;
  width: 100%;
  overflow: visible;
}
@keyframes bg-position {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px);
  }
}
.main-navigation {
  background-color: white;
  height: 50px;
  position: fixed;
  width: 100vw;
  z-index: 100;
  top: 0;
}
.topnav {
  top: 0;
  overflow: visible;
  height: 50px;
  will-change: auto;
  z-index: 1002 !important;
  position: absolute;
  right: 0 !important;
}
.topnav li {
  list-style-type: none;
}
.topnav a {
  color: #333;
  text-align: right;
  text-decoration: none;
  /*!important*/
  font-size: 16px;
}
.topnav a:hover {
  font-weight: bold;
  color: #666;
}
.topnav .active {
  color: white;
  text-decoration: underline;
}
.topnav .toggle {
  display: none;
}
@media only screen and (max-width: 767px) {
  .header {
    display: table;
    overflow: auto;
    background-image: linear-gradient(to bottom, #f68930, #fbb03b);
    height: 500px;
  }
  .header .header-wrapper {
    display: table-row;
    position: relative;
    height: 100%;
    overflow: auto;
  }
  .header .header-wrapper .ipad-gif,
  .header .header-wrapper .header-gif {
    position: relative;
    margin-top: 5em;
    width: 80%;
  }
  .header .header-wrapper .title {
    position: relative;
    width: 80%;
    margin: auto;
    padding-bottom: 2em;
  }
  .header .header-wrapper .title .button {
    margin: auto;
  }
  .header .header-bg {
    display: none;
  }
  .floori-lite .header-gif {
    height: 60vw;
  }
  .header-wrapper {
    display: block;
  }
  .header-wrapper .ipad-gif,
  .header-wrapper .header-gif {
    margin-right: auto;
    margin-left: auto;
    right: 0;
    left: 0;
  }
  .main-nav {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .header,
  .header-blog,
  .header-pricing {
    height: 500px;
  }
  .header .header-bg {
    background-size: 600%;
  }
  .header .floori-lite .header-gif {
    grid-area: ipad;
    width: 100%;
    max-width: 500px;
    position: absolute;
    height: 100%;
    right: 0;
  }
  .header-wrapper {
    height: 80%;
    bottom: 0;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-gap: 3em;
  }
  .header-wrapper .title {
    max-width: 300px;
  }
  .header-wrapper .ipad-gif {
    width: 100%;
    max-width: 600px;
    justify-self: end;
    right: 0;
  }
}
@media screen and (max-width: 1024px) {
  a.toggle {
    float: right;
    display: block;
  }
  .btn-login a {
    border-radius: 5px;
    font-weight: bold;
  }
  .main-navigation .w-1200 {
    width: 100vw !important;
  }
  #mobile-nav-toggle {
    z-index: 2000;
    position: absolute;
    margin: auto;
    text-decoration: none;
    top: 15px;
    right: 15px;
    height: 30px;
    width: 30px;
    cursor: pointer;
  }
  .toggle {
    width: 20px;
    height: 30px;
  }
  .toggle div {
    width: 100%;
    height: 3px;
    background: #333;
    margin: 4px auto;
    transition: all 0.3s;
    backface-visibility: hidden;
  }
  .toggle a {
    color: #333;
  }
  .toggle.on .one {
    transform: rotate(45deg) translate(3px, 4px);
  }
  .toggle.on .two {
    opacity: 0;
  }
  .toggle.on .three {
    transform: rotate(-45deg) translate(6px, -7px);
  }
  .topnav {
    position: absolute;
    z-index: 100;
    width: 100%;
    top: 50px;
  }
  .topnav ul {
    padding: 0 !important;
    margin: 0 !important;
  }
  .topnav li {
    display: none;
  }
  .topnav a {
    float: none;
    color: #333;
    text-align: center !important;
    display: block;
    padding: 10px 0;
    position: relative;
    z-index: 100 !important;
    background-color: rgba(255, 255, 255, 0.95);
    text-align: left;
    width: 100%;
  }
  .topnav a:focus {
    background-color: #505a64 !important;
    color: #ffffff !important;
    text-decoration: none;
    font-weight: bold;
  }
  .topnav a li:hover {
    background-color: #ffffff;
    text-decoration: none;
  }
  .mobile-nav-toggle a {
    margin: 0;
  }
}
@media screen and (min-width: 1025px) {
  .topnav .menu {
    display: flex;
    margin: 0;
    height: 50px;
  }
  .topnav li {
    display: inline-block !important;
    padding: 12px 10px;
  }
  .topnav li a {
    height: 50px;
  }
  .topnav li:last-child a {
    border: 2px solid #f15a24;
    border-radius: 3px;
    padding: 0px 15px;
  }
  .topnav li:last-child {
    padding: 12px 12px;
    font-weight: bold;
  }
  .topnav li p {
    padding: 0.5em 3em;
    margin-bottom: 0;
  }
}
/****** 

FOOTER

****/
@media only screen and (max-width: 767px) {
  .footer {
    height: 200px;
  }
  .footer .copyright {
    width: 100% !important;
    text-align: center !important;
    display: block !important;
  }
  .footer .footer-menu {
    width: 100% !important;
    text-align: center !important;
    display: block !important;
  }
}
#footer {
  padding: 1em 0;
  background-color: #f8f8f8;
  border-top: 1px solid #E0E0E0;
  color: #333;
}
#footer a {
  color: #333;
}
#footer .copyright {
  text-align: center;
  position: relative;
  display: block;
  margin: auto;
}
#footer .menu-footer {
  height: auto;
  max-width: 1200px;
  width: 90%;
  margin: auto;
  text-align: center;
  display: block;
  padding: 0 0 0.3em 0;
}
#footer .menu-footer ul {
  margin: 0;
  height: inherit;
  padding: 0;
}
#footer .menu-footer ul li {
  text-decoration: none;
  padding: 0 0.5em;
  display: inline-block;
}
.error404 footer {
  position: absolute;
  margin-bottom: 0;
  bottom: 0;
  width: 100%;
}
@media only screen and (max-width: 767px) {
  #contact {
    overflow: auto;
  }
  #contact .contact-wrapper {
    display: block;
  }
  #contact .contact-wrapper .contact-numbers {
    padding-bottom: 1em;
  }
  #contact .contact-form {
    margin-top: 2em;
  }
  #contact .contact-form .wpcf7-submit {
    position: relative;
    margin: auto;
  }
}
@media only screen and (min-width: 768px) {
  #contact {
    overflow: auto;
  }
  #contact .contact-wrapper {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
    text-align: left;
  }
  #contact .contact-wrapper .contact-info .contact-numbers {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
/****** 

CONTACT

****/
/* following snippet will make our css stable on mozilla and safari */
input.ios-nochange {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input,
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
span.wpcf7-list-item {
  margin: 0;
  padding-bottom: 1em;
}
#contact {
  overflow: auto;
  /*show check box*/
}
#contact a {
  color: #333;
  font-weight: bold;
}
#contact a:hover {
  color: #f15a24;
}
#contact input[type="checkbox"] {
  -webkit-appearance: checkbox;
  width: 13px !important;
  height: 13px !important;
  border: 1px solid #eee;
}
#contact .contact-wrapper {
  max-width: 1200px;
  width: 90%;
  display: block;
  margin: auto;
  text-align: center;
  text-align: left;
}
#contact .contact-wrapper .contact-info .contact-numbers {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#contact .contact-wrapper .contact-info .contact-numbers p:last-child {
  text-align: right;
}
#contact .contact-wrapper .contact-info .contact-numbers p {
  margin-top: 0;
}
#contact .contact-wrapper .contact-form input:not([type=checkbox]) {
  height: 35px;
  border-radius: 3px;
  width: 100%;
  border: 1px solid #E0E0E0 !important;
}
#contact .contact-wrapper .contact-form textarea {
  border-radius: 3px;
  border: 1px solid #E0E0E0 !important;
  width: 100%;
}
#contact .contact-wrapper .contact-form .wpcf7-submit {
  background-color: #f15a24 !important;
  color: #fff !important;
  text-align: center !important;
  font-weight: bold !important;
  height: 35px;
  border-radius: 22px !important;
  width: 150px;
  display: block;
  width: 200px !important;
}
#contact .contact-wrapper .contact-form .wpcf7-submit:hover {
  background-color: #ff8c2a !important;
}
#contact .contact-wrapper .contact-form .wpcf7-submit p {
  margin: 0;
  padding: 3px 0;
}
@media only screen and (max-width: 767px) {
  .how-wrapper {
    display: block;
    position: relative;
    height: auto;
    width: 90%;
    margin: auto;
  }
  .how-wrapper .graph {
    height: 300px;
    width: 100%;
    margin-top: 2em;
  }
  .how-wrapper .lite-gif {
    margin: auto;
    margin-top: 2em;
  }
}
@media only screen and (min-width: 768px) {
  .how-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "gif graph";
    max-width: 900px;
    width: 90%;
    margin: auto;
  }
  .how-wrapper .lite-gif {
    grid-area: gif;
  }
  .how-wrapper .graph {
    grid-area: graph;
  }
}
.lite-gif {
  background-image: url(../assets/img/floori-lite-2.gif);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 90%;
  max-width: 300px;
  height: 500px;
  max-height: 700px;
}
.graph {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
/****HEADER*****/
.header-floori-pro {
  grid-template-columns: 300px 1fr 10fr !important;
  grid-gap: 1em;
}
.header-floori-pro .video {
  overflow: hidden;
  z-index: 20;
}
@media only screen and (max-width: 767px) {
  .header-floori-pro .video {
    position: relative;
    padding-top: 30px;
    height: 40vw;
    overflow: hidden;
    width: 80%;
    margin: 5em auto 0 auto;
  }
  .header-floori-pro .video iframe,
  .header-floori-pro .video object,
  .header-floori-pro .video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .header-floori-pro .title {
    position: relative;
    width: 80%;
    margin: auto;
    padding-bottom: 2em;
    /* top: 5em; */
    /* height: 400px; */
  }
  #how-it-works .graph {
    height: 400px;
  }
  .technology-wrapper {
    display: block;
  }
  .technology-wrapper ul {
    width: 50vw;
    margin: auto;
    padding-top: 1em;
  }
}
@media only screen and (min-width: 768px) {
  .technology-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .header-floori-pro {
    grid-template-areas: "text . video" !important;
  }
  .header-floori-pro .video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    grid-area: video;
  }
  .header-floori-pro .video iframe,
  .header-floori-pro .video object,
  .header-floori-pro .video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .header .video {
    top: 2em;
  }
}
@media only screen and (min-width: 1200px) {
  .header-floori-pro {
    grid-template-areas: "text . video" !important;
  }
  .header-floori-pro .video {
    position: absolute;
    /* padding-bottom: 56.25%; */
    /* padding-top: 30px; */
    right: 0;
    width: 90%;
    height: 100%;
    overflow: hidden;
    z-index: 20;
    grid-area: video;
  }
  .header-floori-pro .video iframe,
  .header-floori-pro object,
  .header-floori-pro embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
/********

HOW IT WORKS?

****/
#how-it-works {
  padding: 2em 0;
  display: block;
  overflow: auto;
  width: 100%;
  background-color: #fff;
}
#how-it-works .text-under-movie {
  max-width: 560px;
  margin: 0 auto;
  text-align: left;
}
#how-it-works p {
  width: 70%;
  text-align: center;
}
#how-it-works .how-wrapper {
  min-height: 400px;
  margin: 2em auto;
}
/****** 

PREVIEW IN SECONDS

****/
#preview-in-seconds {
  padding: 2em 0 2em 0;
  display: block;
  overflow: auto;
  color: #333;
  width: 100%;
}
#preview-in-seconds p {
  width: 70%;
  text-align: center;
  font-weight: 600;
}
#preview-in-seconds p:first-child {
  width: 50%;
}
#preview-in-seconds .video {
  position: relative;
  max-width: 560px;
  width: 90%;
  display: block;
  margin: 2em auto 6em auto;
}
#preview-in-seconds .video:before {
  content: "";
  padding-top: 56%;
  display: block;
  margin: auto;
}
#preview-in-seconds .video iframe {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  border: 4px solid #ffffff;
}
#preview-in-seconds .howto-icons {
  margin: 0 auto 1em auto;
  width: 80%;
  overflow: auto;
  text-align: center;
}
#preview-in-seconds .howto-icons .icon-wrapper h3 {
  text-align: center;
  color: #333;
}
#preview-in-seconds .howto-icons .icon-wrapper img {
  border-radius: 100px;
  box-shadow: 0px 3px 10px rgba(85, 85, 85, 0.14);
}
#preview-in-seconds .howto-icons .icon-wrapper p {
  text-align: center;
  margin: auto;
  color: #333;
}
/****** 

TECHNOLOGY

****/
#technology {
  background-color: #f8f8f8;
  height: auto;
  overflow: auto;
  padding: 1em 0;
}
#technology a {
  color: #333;
  cursor: pointer;
}
#technology a:hover p {
  opacity: 0.7;
}
#technology .technology-wrapper {
  max-width: 600px;
  width: 90%;
  margin: auto;
}
#technology .technology-wrapper .ipad {
  display: block;
  height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#technology .technology-wrapper li {
  display: grid;
  grid-template-columns: 1.5em 1fr;
  grid-gap: 10%;
  text-align: left;
}
#technology .technology-wrapper li i {
  background-image: url(../assets/img/chevron.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
#technology h3 {
  margin: 0 !important;
  padding: 1em 0 0 0;
}
#technology a:hover {
  opacity: 0.7;
}
/*# sourceMappingURL=custom.css.map */